body {
    background: lightblue;
    font-family: 'Chelsea Market', cursive; 
}


.container1{
	background-color:#f4c2c2;
	text-align:left;
}


.container2{
	max-height:4000px;
	display: flex;
	overflow-x: auto;
}


.container2 .Animatronics{
	min-width:580px;
	height: 400px;
	text-align: left;
	display: flex;
}

.container3{
	background-color: beige;
}

.container4 {
	text-align: right;
}

.container5 {
	box-shadow: 2px 2px 15px rgba(251,192,147);
}

.button{
	border-radius: 20px;
	font-family: 'Chelsea Market', cursive; 
}